
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 20px;
}

input {
    margin-left: 5px;
    font-size: 14px;
    padding: 5px;
}

div{
    margin-bottom: 5px;
}
